@media only screen and (max-width: 768px) {

/* Force table to not be like tables anymore */
table,
thead,
tbody,
th,
td,
tr {
  display: block;
  text-align: center;
}
table.table td {
  padding-top: 1.5rem;
  padding-bottom: .4rem;

}
img {}
/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

img {
  display: block;
  margin: 0 auto;
}
td {
  /* Behave  like a "row" */
  border: none;
  position: relative;
  padding-left: 50%;

}

td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  white-space: nowrap;
}




/*para el input */
.sinbordefondo {
  border: 0;
  width: 20px;
  outline: none;
}